.calculator{
    border:solid black;
    height:300px;
    width: 35%;
}
#display{
    border:solid yellow;
    width: 80%;
    float:left;
    height:50px;
    margin-left:10%;
    margin-top: 10%;
}
.bottom{
    width:100%;
    float:left;
    border:2px solid slateblue;
}

.buttonNumber{
    float:left;
    width:25%;
    border:2px solid blue;
    text-align: center;
}
.rowOne{
    border:2px solid black;
}
.buttonOperator, .buttonEquals,.buttonDecimal{
    float:left;
    width:25%;
    border:2px solid blue;
    text-align: center;
}
